<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" xml:lang="en" lang="en">
	<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript">	
	function getCart()
	{
		$.ajax({
			type: "POST",
			data: {'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()},
            dataType: 'html',
			url: "/ajax/",
			success: function(data){
                $('#test').html(data);
            }
		})
	}

	$(document).ready(function(){
			$("#but").click(getCart);
		});
	</script>
	</head>
	
	<body>
	<div>
        {% csrf_token %}
{#		<a id="but" type="button" value="push me"/>#}
		<p id="name" onclick="getCart()">Name</p>
	</div>
	<div id="test">
	</div>
	</body>
</html>